# The purpose of this notebook is to provide a workspace to combine dataframes from specific years into a combined dataframe

In [1]:
import pandas

In [8]:
# load in all the datasets
charts_2021 = pd.read_csv('../spotify/data/charts_2021.csv')
charts_2019_2013 = pd.read_csv('../spotify/data/charts_2019-2013.csv')
charts_2011_2007 = pd.read_csv('../spotify/data/charts_2011-2007.csv')
charts_2005_2001 = pd.read_csv('../spotify/data/charts_2005-2001.csv')

# Get rid of unnamed column so we can concat the dfs

2021

In [10]:
charts_2021.head(1)

,Unnamed: 0,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year,track_id
0,0,2021-11-06,1,Easy On Me,Adele,1.0,1,3,2021,0gplL1WMoJ6iYaPgMCL0gX

In [12]:
charts_2021 =charts_2021.drop(columns=['Unnamed: 0'])

In [13]:
charts_2021.head(1)

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year,track_id
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3,2021,0gplL1WMoJ6iYaPgMCL0gX

2019-2013

In [14]:
charts_2019_2013.head(1)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year,track_id
0,0,0,9700,2019-12-28,1,All I Want For Christmas Is You,Mariah Carey,1.0,1,36,2019,0bYg9bo50gSsH3LtXe2SQn

In [17]:
charts_2019_2013=charts_2019_2013.drop(columns=['Unnamed: 0.2','Unnamed: 0.1','Unnamed: 0'])

In [18]:
charts_2019_2013.head(1)

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year,track_id
0,2019-12-28,1,All I Want For Christmas Is You,Mariah Carey,1.0,1,36,2019,0bYg9bo50gSsH3LtXe2SQn

2011-2007

In [19]:
charts_2011_2007.head(1)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year,track_id
0,0,0,51400,2011-12-31,1,We Found Love,Rihanna Featuring Calvin Harris,1.0,1,13,2011,6qn9YLKt13AGvpq9jfO8py

In [21]:
charts_2011_2007=charts_2011_2007.drop(columns=['Unnamed: 0.2','Unnamed: 0.1','Unnamed: 0'])

In [22]:
charts_2011_2007.head(1)

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year,track_id
0,2011-12-31,1,We Found Love,Rihanna Featuring Calvin Harris,1.0,1,13,2011,6qn9YLKt13AGvpq9jfO8py

2005-2001

In [23]:
charts_2005_2001.head(1)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year,track_id
0,0,0,82700,2005-12-31,1,Don't Forget About Us,Mariah Carey,2.0,1,11,2005,07o54snAilKYHsW8bGFe9x

In [25]:
charts_2005_2001=charts_2005_2001.drop(columns=['Unnamed: 0.2','Unnamed: 0.1','Unnamed: 0'])

In [26]:
charts_2005_2001.head(1)

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year,track_id
0,2005-12-31,1,Don't Forget About Us,Mariah Carey,2.0,1,11,2005,07o54snAilKYHsW8bGFe9x

# Ready for concat

In [27]:
main_df = pd.concat(
    [charts_2021,charts_2019_2013,charts_2011_2007,charts_2005_2001]
)

In [32]:
 # main_df.to_csv('../spotify/data/charts_2021_2001.csv',index=False)