# ****DO NOT RUN THIS NOTEBOOK FROM TOP TO BOTTOM****

# The purpose of this notebook is to provide a workspace to combine dataframes from specific years into a combined dataframe

In [2]:
import pandas as pd

In [8]:
# load in all the datasets
charts_2021 = pd.read_csv('../spotify/data/charts_2021.csv')
charts_2019_2013 = pd.read_csv('../spotify/data/charts_2019-2013.csv')
charts_2011_2007 = pd.read_csv('../spotify/data/charts_2011-2007.csv')
charts_2005_2001 = pd.read_csv('../spotify/data/charts_2005-2001.csv')

# Get rid of unnamed column so we can concat the dfs

2021

In [10]:
charts_2021.head(1)

,Unnamed: 0,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year,track_id
0,0,2021-11-06,1,Easy On Me,Adele,1.0,1,3,2021,0gplL1WMoJ6iYaPgMCL0gX

In [12]:
charts_2021 =charts_2021.drop(columns=['Unnamed: 0'])

In [13]:
charts_2021.head(1)

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year,track_id
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3,2021,0gplL1WMoJ6iYaPgMCL0gX

2019-2013

In [14]:
charts_2019_2013.head(1)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year,track_id
0,0,0,9700,2019-12-28,1,All I Want For Christmas Is You,Mariah Carey,1.0,1,36,2019,0bYg9bo50gSsH3LtXe2SQn

In [17]:
charts_2019_2013=charts_2019_2013.drop(columns=['Unnamed: 0.2','Unnamed: 0.1','Unnamed: 0'])

In [18]:
charts_2019_2013.head(1)

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year,track_id
0,2019-12-28,1,All I Want For Christmas Is You,Mariah Carey,1.0,1,36,2019,0bYg9bo50gSsH3LtXe2SQn

2011-2007

In [19]:
charts_2011_2007.head(1)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year,track_id
0,0,0,51400,2011-12-31,1,We Found Love,Rihanna Featuring Calvin Harris,1.0,1,13,2011,6qn9YLKt13AGvpq9jfO8py

In [21]:
charts_2011_2007=charts_2011_2007.drop(columns=['Unnamed: 0.2','Unnamed: 0.1','Unnamed: 0'])

In [22]:
charts_2011_2007.head(1)

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year,track_id
0,2011-12-31,1,We Found Love,Rihanna Featuring Calvin Harris,1.0,1,13,2011,6qn9YLKt13AGvpq9jfO8py

2005-2001

In [23]:
charts_2005_2001.head(1)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year,track_id
0,0,0,82700,2005-12-31,1,Don't Forget About Us,Mariah Carey,2.0,1,11,2005,07o54snAilKYHsW8bGFe9x

In [25]:
charts_2005_2001=charts_2005_2001.drop(columns=['Unnamed: 0.2','Unnamed: 0.1','Unnamed: 0'])

In [26]:
charts_2005_2001.head(1)

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year,track_id
0,2005-12-31,1,Don't Forget About Us,Mariah Carey,2.0,1,11,2005,07o54snAilKYHsW8bGFe9x

# Ready for concat

In [27]:
main_df = pd.concat(
    [charts_2021,charts_2019_2013,charts_2011_2007,charts_2005_2001]
)

In [32]:
 # main_df.to_csv('../spotify/data/charts_2021_2001.csv',index=False)

# ADD IN THE 90S!

In [3]:
charts_1999_1992 = pd.read_csv('../data/charts_1999-1992.csv')

In [6]:
charts_1999_1992

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year,track_id
0,1999-12-25,1,Smooth,Santana Featuring Rob Thomas,1.0,1,22,1999,2bCQHF9gdG5BNDVuEIEnNk
1,1999-12-25,2,Back At One,Brian McKnight,2.0,2,18,1999,6mwA6YiKDjAUG8kWvRRUPh
2,1999-12-25,3,I Wanna Love You Forever,Jessica Simpson,3.0,3,11,1999,5gZEhPrN1VLqTG1nIAXeNK
3,1999-12-25,4,I Knew I Loved You,Savage Garden,4.0,4,10,1999,6nozDLxeL0TE4MS9GqYU1v
4,1999-12-25,5,My Love Is Your Love,Whitney Houston,5.0,5,17,1999,6vc2Jq2vaGu8z326kSrw92
...,...,...,...,...,...,...,...,...,...
275,1992-12-26,52,I Love You Period,Dan Baird,59.0,52,4,1992,08FaxmURVgqiY9HDlW1wrh
276,1992-12-26,53,Mr. Wendal,Arrested Development,53.0,53,2,1992,5DOYik1z3Of1wAFfY3dYbC
277,1992-12-26,54,Heal The World,Michael Jackson,62.0,54,3,1992,7woW97CfcWaKtuC6W5BP2K
278,1992-12-26,55,Baby I'm For Real/Natural High,After 7,56.0,55,8,1992,2QV1ZCi6q3QGp5PCqOqePg
279,1992-12-26,56,Quality Time,Hi-Five,57.0,56,4,1992,78JuhPiEBhlNe9c2tvbrIg

In [7]:
#reload main dataframe
main_df = pd.read_csv('../data/charts_2021_2001.csv')

In [9]:
main_df.head(1)

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year,track_id
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3,2021,0gplL1WMoJ6iYaPgMCL0gX

In [10]:
main_df.tail(1)

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year,track_id
1423,2001-12-29,100,Who We Be,DMX,89.0,60,12,2001,1RbnH7qjUyWJWh8kjFIYNw

In [11]:
# rewrite main to include the years from the 90s
main_df = pd.concat([main_df, charts_1999_1992])

In [12]:
main_df.reset_index(drop=True, inplace=True)

In [13]:
main_df

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year,track_id
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3,2021,0gplL1WMoJ6iYaPgMCL0gX
1,2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16,2021,5HCyWlXZPP0y6Gqq8TgA20
2,2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14,2021,27NovPIUIRrOZoCHxABJwK
3,2021-11-06,4,Fancy Like,Walker Hayes,4.0,3,19,2021,58UKC45GPNTflCN6nwCUeF
4,2021-11-06,5,Bad Habits,Ed Sheeran,5.0,2,18,2021,3rmo8F54jFF8OgYsqTxm5d
...,...,...,...,...,...,...,...,...,...
1699,1992-12-26,52,I Love You Period,Dan Baird,59.0,52,4,1992,08FaxmURVgqiY9HDlW1wrh
1700,1992-12-26,53,Mr. Wendal,Arrested Development,53.0,53,2,1992,5DOYik1z3Of1wAFfY3dYbC
1701,1992-12-26,54,Heal The World,Michael Jackson,62.0,54,3,1992,7woW97CfcWaKtuC6W5BP2K
1702,1992-12-26,55,Baby I'm For Real/Natural High,After 7,56.0,55,8,1992,2QV1ZCi6q3QGp5PCqOqePg
1703,1992-12-26,56,Quality Time,Hi-Five,57.0,56,4,1992,78JuhPiEBhlNe9c2tvbrIg

In [14]:
# looks good so we are going to save it back; remember to set index to false on the save;comment out when done

#main_df.to_csv('../data/charts_2021_1992.csv', index=False)