# notebook for cleaning music industry sales data

In [1]:
import pandas as pd

In [2]:
music_df  = pd.read_csv('../data/musicdata.csv')

In [3]:
music_df.head()

  format metric  year  number_of_records  value_actual
0     CD  Units  1973                  1           NaN
1     CD  Units  1974                  1           NaN
2     CD  Units  1975                  1           NaN
3     CD  Units  1976                  1           NaN
4     CD  Units  1977                  1           NaN

In [6]:
music_df = music_df.fillna(0)

In [7]:
music_df = music_df.drop(columns=['number_of_records'])

In [11]:
music_df.to_csv('../data/musicdata_clean.csv', index=False)