# notebook for cleaning music industry sales data

In [1]:
import pandas as pd

In [2]:
music_df  = pd.read_csv('../data/musicdata.csv')

In [3]:
music_df.head()

  format metric  year  number_of_records  value_actual
0     CD  Units  1973                  1           NaN
1     CD  Units  1974                  1           NaN
2     CD  Units  1975                  1           NaN
3     CD  Units  1976                  1           NaN
4     CD  Units  1977                  1           NaN

In [4]:
music_df = music_df.fillna(0)

In [5]:
music_df = music_df.drop(columns=['number_of_records'])

In [ ]:
music_df.to_csv('../data/musicdata_clean.csv', index=False)

In [6]:
music_df

            format            metric  year  value_actual
0               CD             Units  1973      0.000000
1               CD             Units  1974      0.000000
2               CD             Units  1975      0.000000
3               CD             Units  1976      0.000000
4               CD             Units  1977      0.000000
...            ...               ...   ...           ...
3003  Vinyl Single  Value (Adjusted)  2015      6.205390
3004  Vinyl Single  Value (Adjusted)  2016      5.198931
3005  Vinyl Single  Value (Adjusted)  2017      6.339678
3006  Vinyl Single  Value (Adjusted)  2018      5.386197
3007  Vinyl Single  Value (Adjusted)  2019      6.795946

[3008 rows x 4 columns]

# Make simplified version of frame for tableau

In [7]:
music_df.format.unique()

array(['CD', 'CD Single', 'Cassette', 'Cassette Single', 'LP/EP',
       'Vinyl Single', '8 - Track', 'Other Tapes',
       'Music Video (Physical)', 'DVD Audio', 'SACD', 'Download Single',
       'Download Album', 'Kiosk', 'Download Music Video',
       'Ringtones & Ringbacks', 'Paid Subscriptions',
       'Limited Tier Paid Subscription',
       'On-Demand Streaming (Ad-Supported)',
       'Other Ad-Supported Streaming', 'Other Digital',
       'Paid Subscription', 'SoundExchange Distributions',
       'Synchronization'], dtype=object)

In [9]:
test = music_df.copy().loc[music_df.year == 1973]

In [11]:
test.reset_index(drop=True,inplace=True)

In [15]:
test.metric.unique()

array(['Units', 'Value', 'Value (Adjusted)'], dtype=object)

In [13]:
for index, row in test.iterrows():
    print(row.format)

CD
CD Single
Cassette
Cassette Single
LP/EP
Vinyl Single
8 - Track
Other Tapes
Music Video (Physical)
DVD Audio
SACD
Download Single
Download Album
Kiosk
Download Music Video
Ringtones & Ringbacks
Paid Subscriptions
Paid Subscriptions
CD
CD Single
Cassette
Cassette Single
8 - Track
DVD Audio
Download Album
Download Music Video
Download Single
Kiosk
LP/EP
Limited Tier Paid Subscription
Music Video (Physical)
On-Demand Streaming (Ad-Supported)
Other Ad-Supported Streaming
Other Digital
Other Tapes
Paid Subscription
Ringtones & Ringbacks
SACD
SoundExchange Distributions
Synchronization
Vinyl Single
8 - Track
CD
CD Single
Cassette
Cassette Single
DVD Audio
Download Album
Download Music Video
Download Single
Kiosk
LP/EP
Limited Tier Paid Subscription
Music Video (Physical)
On-Demand Streaming (Ad-Supported)
Other Ad-Supported Streaming
Other Digital
Other Tapes
Paid Subscription
Ringtones & Ringbacks
SACD
SoundExchange Distributions
Synchronization
Vinyl Single

SyntaxError: invalid syntax (1998466432.py, line 1)