# load in charts.csv and add in year column

In [1]:
import pandas as pd

In [2]:
charts = pd.read_csv('../spotify/data/charts.csv')

In [5]:
charts.drop(columns = ['Unnamed: 0'], inplace=True)

**add year column**

In [ ]:
charts.head()

In [ ]:
charts['release_year'] = pd.to_datetime(charts.date).dt.year

In [ ]:
charts.head()

In [ ]:
charts.tail()

**overwrite original charts csv with new release column**

In [7]:
charts.to_csv('../spotify/data/charts.csv', index=False)

In [6]:
charts

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3,2021
1,2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16,2021
2,2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14,2021
3,2021-11-06,4,Fancy Like,Walker Hayes,4.0,3,19,2021
4,2021-11-06,5,Bad Habits,Ed Sheeran,5.0,2,18,2021
...,...,...,...,...,...,...,...,...
330082,1958-08-04,96,Over And Over,Thurston Harris,NaN,96,1,1958
330083,1958-08-04,97,I Believe In You,Robert & Johnny,NaN,97,1,1958
330084,1958-08-04,98,Little Serenade,The Ames Brothers,NaN,98,1,1958
330085,1958-08-04,99,I'll Get By (As Long As I Have You),Billy Williams,NaN,99,1,1958
330086,1958-08-04,100,Judy,Frankie Vaughan,NaN,100,1,1958