# Drop Duplicate songs from main charts to make endpoint requesting more efficient

In [1]:
import pandas as pd

In [2]:
charts = pd.read_csv('../data/charts.csv')

In [3]:
charts.head(1)

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3,2021

In [4]:
charts.tail(1)

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year
330086,1958-08-04,100,Judy,Frankie Vaughan,NaN,100,1,1958

In [6]:
charts_nondup = charts.drop_duplicates(subset = ['song', 'artist'], keep='first')

In [9]:
charts_nondup.release_year.value_counts()

1966    741
1967    732
1964    713
1965    710
1961    686
       ...
2003    307
2004    300
2002    300
2001    289
1958    258
Name: release_year, Length: 64, dtype: int64

In [10]:
charts_nondup.to_csv('../data/charts_nondup.csv', index=False)